* {
  background-color: black;
  color: seashell;
  font-family: Helvetica, sans-serif;
  text-align: center;
  opacity: .9;
}

h2 {
  font-size: 32px;
  padding: 0;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  top: 0px;
  left: 0px;
  right: 0px;
}

.header img {
  height: 50px;
  padding-left: 10px;
}

.header nav {
  height: 68px;
}

.header nav li {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  text-decoration: underline;
  display: inline;
  padding-right: 20px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  opacity: .9;
  justify-content: center;
  position: relative;
  top: 62px;
}

nav a {
  color: seashell;
}

#granola {
  width: 1200px;
}

.mission-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 700px;
  width: 1200px;
  background-image: url(./images/img-mission-background.jpg);
}

.main-title {
  width: 1200px;
}

.main-title h4, .main-title h2 {
  margin: 15px 0px;
}


.month-container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 50px;
  justify-content: center;
}

.month-container img {
  width: 300px;
  height: 200px;
  padding: 0px 10px;
}

.month-container h4 {
  padding-top: 0px;
  margin-top: 10px;
}

.month-title {
  width: 100%;
}


.locations-container {
  display: flex;
  height: 500px;
  background-image: url("./images/img-locations-background.jpg");
  background-position: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.locations-container h2 {
  background: none;
  width: 100%;
  margin-bottom: 15px;
}

.address-boxes {
  margin-top: 0px;
  opacity: 1;
}

.address {
  width: 300px;
  margin: 20px;
  font-size: 22px;
}

footer {
  align-self: flex-end;

}
